<?xml version="1.0"?>
<robot name="combine" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find tesollo)/urdf/arm.xacro" />

  <joint name="joint_name" type="revolute">
    <origin xyz="0.0 0.0 1.2" rpy="0.0 0.0 0.0"/>
    <parent link="stick4"/>
    <child link="base_link"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-3.14" upper="3.14" effort="1000" velocity="5.0"/>
  </joint>
  <xacro:include filename="$(find tesollo)/urdf/robot_hand.urdf.xacro" />
</robot>